<footer class="footer">
  <div class="container">
    <span class="text-muted">
    	<blockquote>
			Made with 
		<span class="lsd-heart"><span></span></span>
			for
    	<a href="https://www.thehackingproject.org/" target="_blank" class="text-white">
    		The Hacking Project
    	</a>
    </blockquote>
    </span>
  </div>
</footer>
