<footer class="footer">
  <div class="container">
    <span class="text-muted"><blockquote> Information is power. But like all power, there are those who want to keep it for themselves - <a href="https://fr.wikipedia.org/wiki/Aaron_Swartz" target="_blank"> Aaron Swartz</a></blockquote></span>
  </div>
</footer>