<footer class="footer">
  <div class="container my-3">
    <span class="text-muted">
    	<blockquote>
			Made with <%= image_tag "love.svg", alt: "The hacking project", style: "width: 15px;" %> 
			for
    	<a href="https://www.thehackingproject.org/" target="_blank" class="text-white">
    		The Hacking Project
    	</a>
    </blockquote>
    </span>
  </div>
</footer>