<div class="row">
	<div class="col-md-12">
		<h1 class="display-4 text-center">
			Edit <%= @project.title %>
		</h1>
	</div>
</div>	
<hr>	
	<%= form_for @project do |f| %>
		<%= render partial: 'projects/partials/form/form_for_project', locals: { f: f } %>
  <%= f.submit "Edit project", class: 'btn btn-block btn-primary' %>
	</div>
</div>
<% end %>