<div class="card text-white bg-wow col-md-12" style="margin-top: 50px;">
  <div class="card-header" id="home-card-header">
  	<h1 class="text-center my-3">
  		<strong>
  	 		The Hacking Project
  		</strong>
  	</h1>
  </div>
  <hr>
  <div class="card-body">
    <div class="container">
    	    <h2 class="card-title">
    	    	<strong>
    	    		Objectifs
    	    	</strong>
    	    </h2>
    	<div class="row">
    		<div class="col-md-6">
    			<p class="card-text">
    	Le but des projets finaux est que les moussaillons constituent des équipes de 3-5 personnes, puis réalisent pendant deux semaines un projet qu'ils auront prédéfini.
   			 </p>
		 <p class="card-text">
    	 Avant ces deux semaines, ils vont se chauffer pendant une semaine avec un projet complexe que nous aurons prédéfini (un Airbnb).
			 </p>

			 <p class="card-text">
		Le projet devra être ni trop simple (ex: une landing page), ni irréalisable (ex: un algo de finance qui réalise en IA des blockchain).
				</p>

				<p class="card-text">
				Nous demanderons aux élèves de trouver un mentor qui vont les aiguiller pour rendre quelque chose de réalisable
				 </p>

				 <p class="card-text">
				 	Les projets finaux seront sanctionnés par une présentation devant les membres de l'organisation.
				 </p>
				    			
    		</div>
    		<div class="col-md-6">
					<div class="embed-responsive embed-responsive-4by3" style="max-width: 550px;">
					  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PD0BXdjRKHE"></iframe>
					</div>
    		</div>
    	</div>
    </div>

  </div>
</div>