<div class="col-md-12">
<h2 class="text-center">
	<strong>
		La description		
	</strong>
</h2>
<hr>
	<%= markdown(@project.description) %>
</div>
<div class="col-md-12">
<h2 class="text-center">
	<strong>
		Pourquoi rejoindre ce projet?		
	</strong>
</h2>
<hr>
	<%= markdown(@project.pitch) %>
</div>